.menu {
    padding: 0 20px;
    .nav {
        width: 240px;
        margin: 20px 0;
        text-align: center;
        font-size: 18px;
        >li {
            padding: 10px;
            cursor: pointer;
            &:hover {
                background: #c0392b;
            }
        }
    }
}

.select {
    display: flex;
    width: 240px;
    flex-wrap: wrap;
    justify-content: flex-start;
    >li {
        padding: 3px 10px;
        margin: 2px;
        font-size: 14px;
        background: rgba(255, 255, 255, .15);
        cursor: pointer;
        &:hover {
            background: #c0392b;
        }
    }
}

@media screen and (max-width: 500px) {
    .select {
        width: 100%;
        >li {
            padding: 4px 10px;
            margin: 4px;
        }
    }
}