$color: #d66147;
html {
    position: relative;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    background: $color;
    color: #fff;
}

ul,
ol,
dl {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

a img {
    border: none;
}

p {
    margin: 0;
    padding: 0;
    word-break: break-all;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

h4 {
    margin-top: 8px;
}

form {
    margin: 0;
    padding: 0;
}

input,
select {
    outline: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

textarea {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    resize: none;
}

input,
button,
select,
textarea {
    outline: none;
}

button {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

hr {
    border: 0;
    margin: 0 auto;
}

ul {
    list-style: none;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 6px 12px 6px 0;
    font-weight: 500;
}

td {
    padding: 6px 12px 6px 0;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

.need {
    opacity: .6;
}

.flex {
    display: flex;
}

.text {
    padding-top: 32px;
    h1 {
        margin-bottom: 10px;
    }
}

.town {
    margin: 20px 0 0 0;
}

.menu-btn {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    z-index: 2;
    cursor: pointer;
    background: $color;
    border-top: 1px solid rgba(255, 255, 255, .5);
}

::-webkit-scrollbar {
    width: 10px;
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    background-color: $color;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .7);
}

@media screen and (max-width: 500px) {
    body {
        padding: 0 20px 60px;
    }
    .menu {
        position: fixed;
        background: $color;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: none;
        z-index: 2;
        .nav {
            width: auto;
            display: flex;
            justify-content: center;
        }
    }
    .active {
        display: block;
    }
    .menu-btn {
        display: block;
    }
    table {
        font-size: 12px;
    }
}